* {
    padding: 0;
    margin: 0;
}

main {
    margin-top: 40px;
}

body>nav {
    -webkit-box-shadow: 0px 5px 10px rgba(47, 47, 47, 0.15);
    -moz-box-shadow: 0px 5px 10px rgba(47, 47, 47, 0.15);
    box-shadow: 0px 5px 10px rgba(47, 47, 47, 0.15);
}

footer {
    padding: 8px 0px;
    background-color: rgba(220, 220, 220, 1);
    -webkit-box-shadow: 0px 1px 10px rgba(47, 47, 47, 0.15);
    -moz-box-shadow: 0px 1px 10px rgba(47, 47, 47, 0.15);
    box-shadow: 0px 1px 10px rgba(47, 47, 47, 0.15);
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}

footer p {
    margin: 0px;
}

footer a {
    color: rgba(50, 50, 50, 0.8);
    transition: all 1s;
    text-decoration: none;
}

footer a:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    transition: all 1s;
}

.btn {
    margin-bottom: 5px;
    margin-left: 5px;
}

.container {
    margin-bottom: 30px;
}

.bpsMenuItem:hover {
    cursor: pointer;
}

.bpsHidden {
    display: none;
}

.bpsSidebarHdl {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.1);
    font-size: 16px;
    margin-bottom: 0px !important;
}

.bpsMenuHdlIcon {
    width: 19.2px;
    height: 19.2px;
}

.justify-content-between.bpsSidebarHdl {
    justify-content: flex-start !important;
}

.bpsMenuHdlIcon {
    margin-right: 5px;
}

.sidebarMenu {
    overflow-y: auto;
}

#content h1 {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}

.bpsBtnMenuHdl {
    text-decoration: none;
}

.bpsMenuCard {
    border-radius: 0;
}

#bpsMenuCardRBT,
#bpsMenuCardRBS {
    padding: 0;
}

#bpsMenuCardRBT table,
#bpsMenuCardRBS table {
    margin: 0;
}

.nav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.paginate_button a,
.paginate_button a:hover {
    color: rgba(0, 0, 0, 1);
}

.page-item.active .page-link {
    background-color: #212529;
    border-color: #212529;
}

.bpsCard {
    width: 100%;
}

.bpsVideo {
    width: 100%;
    min-height: 400px;
}

#bpsLinkImpressum,
#bpsLinkYouTube,
#bpsLinkGitHub {
    display: unset;
    padding: 0;
    color: rgba(50, 50, 50, 0.8);
    transition: all 1s;
    text-decoration: none;
}

#bpsLinkImpressum:hover,
#bpsLinkYouTube:hover,
#bpsLinkGitHub:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    transition: all 1s;
}

#content {
    padding-bottom: 300px;
}

.bpsPrimaryRow,
#bpsRbtPrimaryRow,
#bpsRbsPrimaryRow {
    background-color: rgba(150, 150, 255, 0.3);
}

.bpsScrollable {
    overflow: scroll;
}

#sidebarMenu {
    overflow-y: scroll;
    padding-bottom: 100px;
}

#sidebarMenu::-webkit-scrollbar {
    display: none;
}

#sidebarMenu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bpsSpinner {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .bpsScrollable {
        overflow: scroll;
    }

    #sidebarMenu {
        overflow-y: scroll;
        padding-bottom: 100px;
    }
}