* {
    padding: 0;
    margin: 0;
}

body>nav {
    -webkit-box-shadow: 0px 5px 10px rgba(47, 47, 47, 0.15);
    -moz-box-shadow: 0px 5px 10px rgba(47, 47, 47, 0.15);
    box-shadow: 0px 5px 10px rgba(47, 47, 47, 0.15);
}

footer {
    padding: 8px 0px;
    background-color: rgba(220, 220, 220, 1);
    -webkit-box-shadow: 0px 1px 10px rgba(47, 47, 47, 0.15);
    -moz-box-shadow: 0px 1px 10px rgba(47, 47, 47, 0.15);
    box-shadow: 0px 1px 10px rgba(47, 47, 47, 0.15);
    width: 100%;
    bottom: 0;
    position: fixed;
}

footer p {
    margin: 0px;
}

footer a {
    color: rgba(50, 50, 50, 0.8);
    transition: all 1s;
    text-decoration: none;
}

footer a:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    transition: all 1s;
}

.btn {
    margin-bottom: 5px;
    margin-left: 5px;
}

.container {
    margin-bottom: 30px;
}